<section class="row" data-ng-controller="AuthenticationController">
    <h3 class="col-md-12 text-center">Sign in using your social accounts</h3>
    <div class="col-md-12 text-center">
        <a href="/auth/facebook" class="undecorated-link">
            <img class="socialicons" src="/modules/users/img/buttons/facebook.png">
        </a>
        <a href="/auth/twitter" class="undecorated-link">
            <img class="socialicons" src="/modules/users/img/buttons/twitter.png">
        </a>
        <a href="/auth/google" class="undecorated-link">
            <img class="socialicons" src="/modules/users/img/buttons/google.png">
        </a>
        <a href="/auth/linkedin" class="undecorated-link">
            <img class="socialicons" src="/modules/users/img/buttons/linkedin.png">
        </a>
        <a href="/auth/github" class="undecorated-link">
            <img class="socialicons" src="/modules/users/img/buttons/github.png">
        </a>
    </div>
    <h3 class="col-md-12 text-center">Or with your account</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-1 col-md-3">
        <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group" data-ng-class="{'has-error': userForm.username.$invalid && !userForm.username.$pristine }">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" autocomplete="on" class="form-control" data-ng-model="credentials.username" placeholder="Username" data-ng-minlength="4" required>
                </div>
                <div class="form-group" data-ng-class="{'has-error': userForm.password.$invalid && !userForm.password.$pristine }">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" autocomplete="on" class="form-control" data-ng-model="credentials.password" placeholder="Password" data-ng-minlength="6" required>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="saveprofileButton">Sign in</button>&nbsp; or&nbsp;
                    <a href="/#!/signup" class="saveprofileButton">Sign up</a>
                </div>
                <div class="forgot-password">
                    <a href="/#!/password/forgot" class="forgot-password">Forgot your password?</a>
                </div>
                <div data-ng-show="error" class="alert alert-danger">
                    <a class="close" data-dismiss="alert" data-ng-click="removeError()" href="">×</a>
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
    <br>
    <div class="sampleSigninPoem col-xs-offset-1 col-xs-10 col-md-offset-5 col-md-3">
        <h3>THE ROAD NOT TAKEN</h3>
        <p> Two roads diverged in a yellow wood,
            And sorry I could not travel both
            And be one traveler, long I stood
            And looked down one as far as I could
            To where it bent in the undergrowth;
        </p>
        <p> Then took the other, as just as fair,
            And having perhaps the better claim,
            Because it was grassy and wanted wear;
            Though as for that the passing there
            Had worn them really about the same,
        </p>
        <p> And both that morning equally lay
            In leaves no step had trodden black.
            Oh, I kept the first for another day!
            Yet knowing how way leads on to way,
            I doubted if I should ever come back.
        </p>
        <p> I shall be telling this with a sigh
            Somewhere ages and ages hence:
            Two roads diverged in a wood, and I--
            I took the one less traveled by,
            And that has made all the difference.
        </p>
        <h4>by Robert Frost (1874 - 1963)</h4>
    </div>
</section>
<footer class="footer col-md-12">
    <div>
        <br>The Discover SUB~AIR Poetry Team.
        <p>&copy; 2014 Subair Ifeoluwapo.</p>
    </div>
</footer>
