.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #DE587A;
}
.ng-valid.ng-dirty {
    border-color: #189D1A;
}
.caret, .text-center {
    color: #000;
}
.myName, .name {
	color: #777;
}