<section class="row text-center">
	<h3 class="col-md-12">Password successfully reset</h3>
	<a href="/#!/" class="col-md-12">Continue to home page</a>
</section>
<footer class="footer col-md-12">
	<div>
		<a href="http://twitter.com/subair_origins"><img width="35px" height="35px" src="/modules/poems/img/twitterwrap2.png" alt="Twitter Logo"></a>
		<a href="http://facebook.com/SubairIfeoluwapo"><img width="30px" height="30px" src="/modules/poems/img/facebookwrap2.png" alt="Facebook Logo"/></a>
		<br>The Discover SUB~AIR Poetry Team.
		<p>&copy; 2014 Subair Ifeoluwapo.</p>
	</div>
</footer>