/*
colors*/

.container-fluid {
    background-color: #fff;
}
.container-fluid:hover {
    background-color: #000;
}
.dropdown-menu-right {
    background-color: grey;
    background-color: rgba(255, 255, 255, .6);
}
/*font family*/

.navbar-brand, .navbar-right, .commentcreator, .page-header, .list-group-item-heading, .sameasheader, .slogan {
    font-family: 'Lobster', sans-serif;
}
.btn, .catg, .text-muted, .commentbody, .lead, .footer, .form-group, .text-center, .youlikethis, .forgot-password, .thumpsUpComment, .text-danger, .popularCatg {
    font-family: 'Special Elite', cursive;
}
.pull-right, .viewpoems, .list-group-item-text {
    font-family: 'Poiret One', cursive;
}
/*font sizes*/

.navbar-right {
    font-size: 1.5em;
}
.text-muted, .commentbody, .commentcreator {
    font-size: 1.1em;
    color: #000;
}
/*body background image*/

.content {
    background-image: url('../img/letter.jpg');
    background-size: cover;
}
/*dash board styling*/

.pull-right {
    font-weight: bolder;
    background-color: white;
    background-image: url('../img/vintage6.jpg');
    background-size: cover;
    color: black;
    margin-top: 7em;
    padding: 1em 1em;
    border-radius: 5%;
    text-align: center;
}
.pull-right img {
    margin: auto;
}
.dashBoardContent {
    color: red;
}
/*button stylings*/

.btn-default {
    margin-top: 2em;
    color: #777;
    /*margin-left: 35em;*/
}
/*text stlying*/

.slogan {
    font-size: 1.2em;
}
.commentcreator {
    text-align: right;
}
.lead {
    max-width: 30em;
    text-align: left;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .5);
    padding: .8em .8em;
}
.commentroom {
    border: solid;
    border-color: black;
    border-color: rgba(0, 0, 0, .8);
    width: 40em;
    height: 12em;
    padding: .2em 1em;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .5);
    margin-bottom: .5em;
}
.viewpoems {
    font-weight: bolder;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .8);
    padding: .2em .2em;
}
.viewpoems:hover {
    text-decoration: underline;
    color: #000;
}
.text-danger {
    font-size: 1.2em;
    text-align: center;
}
.list-group-item {
    background-color: #000;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 1em;
}
.list-group-item-text {
    color: #fff;
}
.sameasheader {
    font-weight: bolder;
    color: darkgrey;
    font-size: 1em;
}
.forgot-password {
    text-decoration: none;
    color: red;
    text-align: center;
}
.undecorated-link {
    margin: 0 1em;
}
/*images style*/

.grav {
    margin-right: 1em;
}
.socialicons {
    width: 40px;
    height: 40px;
}
.thumpsUpComment {
    float: right;
    font-size: .7em;
}
.loader {
    margin-left: 40em;
}
.deleteButton {
    float: right;
}
/*footer styling*/

.footer {
    margin-top: 15%;
    color: #fff;
    text-align: center;
    background-color: black;
    background-color: rgba(0, 0, 0, .5);
}
