
.appName {
    margin-top: 2em;
    font-size: 3.5em;
    color: #000;
}
.sampleSigninPoem {
    background-color: #4E3F30;
    background-color: rgba(78, 63, 48, .5);
    color: #fff;
    font-weight: bolder;
    font-size: 1.1em;
    box-shadow: 0 10px 30px #000;
}
.Register:hover {
    color: #fff !important;

}
.noneUsers {
    margin-top: 2em;
    color: #000;
    font-size: 1.2em;
    background-color: rgba(78, 63, 48, .5);
    padding: 1em;
    border-radius: 2em;
    box-shadow: 0 10px 30px #000;
}
.header {
    background-color: #4E3F30;
}
.searchPoemsContainer {
    background-color: #4E3F30;
}
.text-danger {
    background-color: rgba(255, 255, 255, .6) !important;
    width: 25em;
    margin-top: 2em;
    text-align: center;
}
.pushDown {
    margin-bottom: 20em !important;
}
.demo input[type=search] {
    margin-top: 2em;
    background: #fff url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #4E3F30;
    padding-left: 25px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    width: 35px;
    color: #fff;
    cursor: pointer;
}
.demo input[type=search]:hover {
    background-color: #000;
}
.demo input[type=search]:focus {
    width: 330px;
    padding-left: 32px;
    color: #000;
    background-color: #4E3F30;
    cursor: auto;
    font-family: inherit;
}
.demo input:-moz-placeholder {
    color: #777;
    margin-left: 5em;
}
.demo input::-webkit-input-placeholder {
    color: #777;
    margin-left: 5em;
}
.dropdown-menu-right {
    background-color: grey;
    background-color: rgba(255, 255, 255, .6);
}
.page-header, .list-group-item-heading, .sameasheader, .appName, .slogan {
    font-family: 'Lobster', sans-serif;
}
.btn, .noneUsers, .catg, .text-muted, .commentbody, .lead, .footer, .form-group, .text-center, .youlikethis, .name, .myName, .forgot-password, .thumpsUpComment, .text-danger, .popularCatg {
    font-family: 'Special Elite', cursive;
}
.commentcreator, .pull-right, .viewpoems, .list-group-item-text, .sampleSigninPoem {
    font-family: 'Poiret One', cursive;
}
.commentcreator {
    font-weight: bolder;
}
.commentbody {
    color: #fff !important;
}
.form-group, .list-group-item-heading, .page-header {
    color: #000;
}
.catg {
    cursor: text;
}
.navbar-right {
    font-family: 'Special Elite', cursive;
    font-size: 1.2em;
}
.navbar-right:hover {
    background-color: #000;
}
.text-muted, .commentbody, .commentcreator {
    font-size: 1.1em;
    color: #000;
}
.navbar {
    border-top: 5px solid #000;
    box-shadow: 0 10px 30px #000;
}
.content {
    background-image: url('../img/vintage3.jpg');
    background-size: cover;
}
.background {
    margin-top: 3.7em;
    background-color: #fff;
    background-image: url('../img/poem2.png');
    background-size: cover;
}
.dashboardButton {
    background: #4E3F30;
    border-color: #000;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    padding: 4px 8px;
    font-size: 14px;
    outline: none;
    border: 2px solid #4E3F30;
    margin-bottom: 2em;
    opacity: .8;
}
.dashboardButton:hover{
    text-decoration: none !important;
    color: #000;
}
.pull-right {
    font-weight: bolder;
    background-color: white;
    background-image: url('../img/poem10.jpg');
    background-size: cover;
    color: black;
    margin-top: 7em;
    padding: 1em 1em;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 10px 30px #000;
}
.pull-right img {
    margin: auto;
}
.dashBoardContent {
    color: brown;
    font-weight: bolder;
}
.btn-default {
    width: 150px;
    height: 40px;
    border: 3px solid #4E3F30;
    background-color: #f1efec;
    font-size: 15px;
    color: #000;
    margin-bottom: 0;
    outline: none;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.btn-default:hover {
    background-color: #4E3F30;
    border: none;
    color: #000;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
}
.saveprofileButton {
    padding: 10px 15px;
    font-size: 14px;
    outline: none;
    color: #000;
    background: #ccc;
    border: 2px solid #4E3F30;
}
.saveprofileButton:hover {
    background: #4E3F30;
    border-color: #000;
    color: #fff;
    text-decoration: none;
    margin-right: 1em;
    cursor: pointer;
}
.slogan {
    font-size: 1.7em;
    margin-top: 3.5em;
    color: #000;
}
.commentcreator {
    text-align: right;
}
.lead {
    color: #000 !important;
    max-width: 40em;
    text-align: left;
    background-color: #fff;
    background-color: rgba(78, 63, 48, .7);
    padding: .8em .8em;
    box-shadow: 0 10px 30px #000;
    border-radius: 1em;
}
.commentroom {
    width: 50em;
    height: 12em;
    border-radius: 2em;
    padding: .2em 1em;
    background-color: #000;
    background-color: rgba(78, 63, 48, .5);
    color: #fff;
    margin-bottom: .5em;
    box-shadow: 0 10px 30px #000;
}
.viewpoems {
    font-weight: bolder;
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    background-color: rgba(78, 63, 48, .5);
    padding: .4em .4em;
    border-radius: 5em;
    box-shadow: 0 10px 30px #000;
}
.viewpoems:hover {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}
.text-danger {
    font-size: 1.2em;
    text-align: center;
}
.list-group-item {
    padding-bottom: 5em;
    background-color: brown;
    background-color: rgba(78, 63, 48, .7);
    margin: 2em 0;
    overflow: hidden;
    box-shadow: 0 10px 30px #000;
}
.list-group-item:hover {
    background-color: rgba(0, 0, 0, .7) !important;
}
.list-group-item-text {
    color: #fff;
    font-size: 1.1em;
}
.sameasheader {
    font-weight: bolder;
    color: #000;
    font-size: 1.3em;
}
.forgot-password {
    text-decoration: none;
    color: #000;
    text-align: center;
}
.forgot-password:hover {
    color: #fff;
    text-decoration: none;
}
.undecorated-link {
    margin: 0 1em;
}
.grav {
    margin-right: 1em;
}
.socialicons {
    width: 40px;
    height: 40px;
}
.thumpsUpComment {
    float: right;
    font-size: .7em;
}
.loader {
    margin-left: 40em;
}
.deleteButton {
    float: right;
}
.footer {
    margin-top: 25%;
    color: #fff;
    text-align: center;
    background-color: black;
    background-color: rgba(78, 63, 48, .9);
    box-shadow: 0 10px 30px #000;
}
.list-group-item-heading {
    color: #000 !important;
}

@media screen and (max-width: 480px) {
    .appName {
        margin-top: .5em;
        font-size: 3em;
    }
    .slogan{
        font-size: .9em;
    }
    .btn-default{
        width: 130px;
        height: 35px;
    }
}

