<section class="container" data-ng-controller="PoemsController" data-ng-init="find()">
    <div class="page-header col-md-offset-5">
        <h1>Poems</h1>
    </div>
    <div class="list-group col-md-12">
        <a data-ng-repeat="poem in poems" data-ng-href="#!/poems/{{poem._id}}" class="list-group-item">
            <i class="glyphicon glyphicon-tags"></i> 
            <small class="list-group-item-text sameasheader">
                Posted on
                <span data-ng-bind="poem.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="poem.user.displayName"></span>
                <br>Poem category:
                <span data-ng-bind="poem.category"></span>
            </small>
            <br>
            <h4 class="list-group-item-heading">
                <img ng-src="{{poem.gravatarUrlPoem}}">&nbsp;&nbsp;&nbsp;{{poem.title}}</h4>
            <br>
            <p class="list-group-item-text" data-ng-bind="poem.content"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="poems.$resolved && !poems.length">
        No Poems yet, why don't you <a href="/#!/poems/create">create one</a>?
    </div>
    <div "col-md-6"></div>
</section>
<footer class="footer col-md-12">
    <div>
        <br>The Discover SUB~AIR Poetry Team.
        <p>&copy; 2014 Subair Ifeoluwapo.</p>
    </div>
</footer>
