<section class="container" data-ng-controller="PoemsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Poems</h1>
    </div>
    <div class="list-group col-md-10">
        <a data-ng-repeat="poem in poems" data-ng-href="#!/poems/{{poem._id}}" class="list-group-item">
            <i class="glyphicon glyphicon-tags"></i> 
            <small class="list-group-item-text sameasheader">
                Posted on
                <span data-ng-bind="poem.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="poem.user.displayName"></span>
                <br>Poem category:
                <span data-ng-bind="poem.category"></span>
            </small>
            <br>
            <h4 class="list-group-item-heading" data-ng-bind="poem.title"></h4>
            <img ng-src="{{poem.gravatarUrlPoem}}">
            <br>
            <p class="list-group-item-text" data-ng-bind="poem.content"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="poems.$resolved && !poems.length">
        No Poems yet, why don't you <a href="/#!/poems/create">create one</a>?
    </div>
    <div "col-md-6"></div>
</section>
<footer class="footer col-md-12">
    <div>
        <a href="http://twitter.com/subair_origins">
            <img width="35px" height="35px" src="/modules/poems/img/twitterwrap2.png" alt="Twitter Logo">
        </a>
        <a href="http://facebook.com/SubairIfeoluwapo">
            <img width="30px" height="30px" src="/modules/poems/img/facebookwrap2.png" alt="Facebook Logo" />
        </a>
        <br>The Discover SUB~AIR Poetry Team.
        <p>&copy; 2014 Subair Ifeoluwapo.</p>
    </div>
</footer>
