<section data-ng-controller="PoemsController" data-ng-init="find()">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
            Categories
        <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu1">
            <li role="categories" class="dropdown-header">Daybreak
            </li>
            <li role="categories"><a role="menuitem" tabindex="-1" href="#!/mypoems">
                <i class="glyphicon glyphicon-globe"></i> Life</a>
            </li>
            <li role="categories"><a role="menuitem" tabindex="-1" href="#!/mypoems">
                <i class="glyphicon glyphicon-heart"></i> Love</a>
            </li>
            <li role="categories"><a role="menuitem" tabindex="-1" href="#!/mypoems">
                <i class="glyphicon glyphicon-leaf"></i> Nature</a>
            </li>
            <li role="categories" class="divider">
            </li>
            <li role="categories" class="dropdown-header">Midnight</li>
            <li role="categories"><a role="menuitem" tabindex="-1" href="#!/mypoems">
                <i class="glyphicon glyphicon-heart-empty"></i> Tragedy</a>
            </li>
            <li role="categories"><a role="menuitem" tabindex="-1" href="#!/mypoems">
                <i class="glyphicon glyphicon-eye-open"></i> Mystic</a>
            </li>
            <li role="categories"><a role="menuitem" tabindex="-1" href="#!/mypoems">
                <i class="glyphicon glyphicon-music"></i> Exotic</a>
            </li>
        </ul>
    </div>
    <div class="page-header">
        <h1>My Poems</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="poem in poems" data-ng-href="#!/poems/{{poem._id}}" class="list-group-item" data-ng-show="authentication.user._id == poem.user._id">
            <i class="glyphicon glyphicon-pushpin"></i>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="poem.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="poem.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="poem.title"></h4>
            <p class="list-group-item-text" data-ng-bind="poem.content"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="poems.$resolved && !poems.length">
    	No Poems yet, why don't you <a href="/#!/poems/create">create one</a>?
    </div>
</section>