<section class="container" data-ng-controller="PoemsController" data-ng-init="find()">
    <div class="page-header  col-md-offset-5">
        <h1>My Poems</h1>
    </div>
    <div class="list-group col-md-12">
        <a data-ng-repeat="poem in poems" data-ng-href="#!/poems/{{poem._id}}" class="list-group-item" data-ng-show="authentication.user._id == poem.user._id">
            <small class="list-group-item-text sameasheader">
                Posted on
                <span data-ng-bind="poem.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="poem.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading col-md-12"><i class="glyphicon glyphicon-pushpin"></i>{{poem.title}}</h4>
            <p class="list-group-item-text col-md-12" data-ng-bind="poem.content"></p>
        </a>
    </div>
    <div class="pushDown"></div>
</section>
<footer class="footer col-md-12">
    <div>
        <br>The Discover SUB~AIR Poetry Team.
        <p>&copy; 2014 Subair Ifeoluwapo.</p>
    </div>
</footer>
