<section data-ng-controller="PoemsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="poem.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == poem.user._id">
		<a class="btn btn-primary" href="/#!/poems/{{poem._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="poem.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="poem.user.displayName"></span>
			<br>
            Poem category:
            <span data-ng-bind="poem.category"></span>
		</em>
	</small>
	<div>
		<p data-ng-bind="poem.comments.length"></p>{{"comments"}}
		<p data-ng-bind="poem.likes.length"></p>{{"likes"}}
	</div>
	<div>
		<p class="lead" data-ng-bind="poem.content"></p>
	<div>
	<br>
	<br>
	<div>
	<input type="button" value="Like" data-ng-click="likePoem()">
	<input type="button" value="Dislike" data-ng-click="unlikePoem()">
	</div>
	<br>
	<div class="form-group">
        <label class="control-label" for="comment">Comment</label>
        <div class="controls">
            <textarea name="comment" data-ng-model="commentMade" id="comment" class="form-control" cols="15" rows="5" placeholder="Add Comment"></textarea>
        </div>
    </div>
	<input type="button" value="comment" data-ng-click="makeComment()">
	<br>
	<br>
	<div ng-repeat="comment in poem.comments">
		{{comment.comment}}
		<input type="button" value="Like" data-ng-click="likeComment()">
		<input type="button" value="Dislike" data-ng-click="unlikeComment()">
		<input type="button" value= "Delete" data-ng-click="deleteComment()">
	</div>
</section>