<section class="container" data-ng-controller="PoemsController" data-ng-init="findOne()">
    <div name="dashBoard" class="pull-right">
        <a class="dashboardButton disabled">
            <i class="glyphicon glyphicon-dashboard"></i> Dash Board
        </a>
        <br>
        <small>
            <em class="text-muted">
                Posted on
                <span data-ng-bind="poem.created | date:'mediumDate'"></span>
                <br>by
                <span data-ng-bind="poem.user.displayName"></span>
                <br>Category:
                <span data-ng-bind="poem.category"></span>
            </em>
        </small>
        <p class="dashBoardContent">{{poem.comments.length}} Comment(s)</p>
        <p class="dashBoardContent">{{poem.likes.length}} Like(s)</p>
        <span data-ng-show="authentication.user._id && checkUserPoemLikes(poem.likes)">
            <img class="img-responsive" width="25px" heigth="25px" src="/modules/poems/img/like.png">
            <br>
            <p>You like this</p>
        </span>
    </div>
    <div class="col-md-10" name="poemHouse">
        <div class="page-header">

            <h1>
                <img data-ng-src="{{poem.gravatarUrlPoem}}" width="40" height="40" />&nbsp;&nbsp;&nbsp;{{poem.title}}
            </h1>
        </div>
        <div class="deldit" data-ng-show="authentication.user._id == poem.user._id">
            <a class="saveprofileButton" href="/#!/poems/{{poem._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i> Edit
            </a>
            <a class="saveprofileButton" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </a>
        </div>
        <br>
        <div>
            <p class="lead" data-ng-bind="poem.content"></p>
        </div>
        <br>
        <br>
        <div data-ng-show="authentication.user._id">
            <div data-ng-hide="authentication.user._id == poem.user._id">
                <a class="saveprofileButton" data-ng-show="authentication.user._id && !liked" data-ng-click="likePoem()">
                    <i class="glyphicon glyphicon-thumbs-up"></i> Like
                </a>
                <a class="saveprofileButton" data-ng-show="authentication.user._id && liked" data-ng-click="unlikePoem()">
                    <i class="glyphicon glyphicon-thumbs-down"></i> Unlike
                </a>
            </div>
        </div>
        <br>
    </div>
    <p ng-hide="authentication.user.displayName" class="noneUsers col-md-12">Register with us and you can join our Poetry Community, compose and share your own posts, like and comment on other posts you fancy.</p>
    <div class="col-md-5" name="commentHouse" data-ng-show="authentication.user._id">
        <div class="form-group">
            <label class="control-label" for="comment">Comment</label>
            <p data-ng-bind="emptycomment" class="text-danger">{{emptycomment}}</p>
            <div class="controls">
                <textarea name="comment" data-ng-model="commentMade" id="comment" class="form-control" cols="10" rows="5" placeholder="Make your comment here"></textarea>
            </div>
        </div>
        <a class="saveprofileButton btn-block" type="button" value="Send" data-ng-click="makeComment()">
            <i class="glyphicon glyphicon-comment"></i> Post Comment
        </a>
        <br>
        <br>
        <div class="commentroom col-md-offset-12" ng-repeat="comment in poem.comments | filter: comment.created">
            <em class="text-muted">
                <p class="commentcreator">by {{comment.nameOfCreator}}, posted on {{comment.created | date: 'mediumDate'}}</p>
            </em>
            <div class="deleteButton" data-ng-show="poem.user._id == authentication.user._id">
                <a class="saveprofileButton" data-ng-click="deleteComment(comment)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
            <div class="commentbody">
                <img class="grav" data-ng-src="{{comment.gravatarUrlComm}}" width="40" height="40" />{{comment.comment}}
            </div>
            <br>
            <br>
            <div class="thumpsUpComment">
                <span data-ng-show="authentication.user._id && checkUserCommentLikes(comment.likes)">
                    <img class="thumbsUpImage" width="25px" heigth="25px" class="img-responsive" src="/modules/poems/img/like.png">
                    <br>
                    <p>You like this</p>
                </span>
            </div>
            <div data-ng-hide="authentication.user._id == comment.creator">
                <a class="saveprofileButton" data-ng-hide="checkUserCommentLikes(comment.likes) && hidelike" data-ng-click="likeComment()">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                </a>
                <a class="saveprofileButton" data-ng-show="checkUserCommentLikes(comment.likes)" data-ng-click="unlikeComment()">
                    <i class="glyphicon glyphicon-thumbs-down"></i>
                </a>
            </div>
        </div>
        <div class="alert alert-warning text-center" data-ng-if="!poem.comments.length">
            No Comments yet, go ahead and express your understanding of the poem.
        </div>
    </div>
</section>
<footer class="footer col-md-12">
    <div>
        <br>The Discover SUB~AIR Poetry Team.
        <p>&copy; 2014 Subair Ifeoluwapo.</p>
    </div>
</footer>
